body {
}

.modalBackground
{
            
	background-color: Gray;
    filter: alpha(opacity=80);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";   /* IE 8 Compatibility */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);       /* IE 7 Compatibility */
	opacity: 0.8;  /* Everyone else */
 
	              
}

.modalPopup
{
	background-color: #FFFFFF;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	border-color: Gray;	
    min-width: 250px;
	max-width:400px;
} 

.topHandle
{
	background-color: #5D7B9D;	
<%--        background-color: #FF9933;	--%>
}

.table
{
	padding:0;
	margin:0;
}    